<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbegin.loginactivities.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ParseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="Question" >
        <activity
            android:name=".MainActivity"
            android:label="Question" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSignupActivity"
            android:label="Login or Sign Up"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".Welcome"
            android:label="Home Page"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminQuestionListingActivity"
            android:label="View Questions as Admin"
        />

        <activity
            android:name=".NormalQuestionListingActivity"
            android:label="View Questions"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminPastQuestionActivity"
            android:label="Closed Questions (Admin)"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".NormalPastQuestionActivity"
            android:label="Closed Questions"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminCurrentQuestionActivity"
            android:label="Current Open Questions (Admin)"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminCurrentQuestionActivity2"
            android:label="Current Open Questions (Admin)"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".NormalCurrentQuestionActivity"
            android:label="Current Open Questions"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminFutureQuestionActivity"
            android:label="Future Questions (Admin)"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminCreateQuestionActivity"
            android:label="Create a Question (Admin)"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminSingleItemView"
            android:label="Close the Question"
            />

        <activity
            android:name=".NormalSingleItemView"
            android:label="Submit a Response"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminSingleItemViewPast"
            android:label="View Responses (Admin)"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".NormalSingleItemViewPast"
            android:label="View Responses"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminViewGroupActivity"
            android:label="View Groups (Admin)"
            android:screenOrientation="portrait"
        />

        <activity
            android:name=".NormalViewGroupActivity"
            android:label="View Normal Groups"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminCreateGroupActivity"
            android:label="Create a new group"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".GroupDirectActivity"
            android:label="View Groups"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".AdminAddUserActivity"
            android:label="Add a new user to a group"
            android:screenOrientation="portrait"
            />


    </application>

</manifest>